@import url('https://fonts.googleapis.com/css?family=Roboto');
html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	background-color: #0076c5;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
p,
span {
	font-family: 'Roboto', sans-serif;
}

.App {
	font-family: sans-serif;
	text-align: center;
	padding: 0 36px;
	max-width: 665px;
	margin: 0 auto;
}

.todo-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	width: 100%;
	margin: 0 auto;
}

.todo {
	background-color: #26f5f5;
	width: 45%;
	text-align: left;
	margin: 4px 0;
	padding-left: 8px;
	cursor: pointer;
}

.item.purchased {
	background-color: #0d017a;
	text-decoration: line-through;
}
